<div class="container container--jumbo anim-appear">
          <div class="article-controls">

          </div>

          <div>
<div class="col-list"><section class="module-module col-2 h4-spacing"><div class="module anim-appear"><h1>Design</h1><p>Create intuitive and beautiful products with Material Design.</p></div><div class="module anim-appear"><h4>Popular </h4><ul class="lst-kix_list_1-0 start"><li><a class="js-analytics-click" data-analytics="  {
    &quot;event&quot;: &quot;trackEvent&quot;,
    &quot;category&quot;: &quot;crosslink&quot;,
    &quot;action&quot;: &quot;link click&quot;,
    &quot;label&quot;: &quot;./mio-design/introduction/&quot;}
" href="./introduction/">
  Introduction</a></li><li><a class="js-analytics-click" data-analytics="  {
    &quot;event&quot;: &quot;trackEvent&quot;,
    &quot;category&quot;: &quot;crosslink&quot;,
    &quot;action&quot;: &quot;link click&quot;,
    &quot;label&quot;: &quot;./mio-design/material-studies/&quot;}
" href="./material-studies/">
  Material studies</a></li></ul><ul class="lst-kix_list_2-0 start"><li><a class="js-analytics-click" data-analytics="  {
    &quot;event&quot;: &quot;trackEvent&quot;,
    &quot;category&quot;: &quot;crosslink&quot;,
    &quot;action&quot;: &quot;link click&quot;,
    &quot;label&quot;: &quot;./mio-design/color/&quot;}
" href="./color/">
  Color</a></li></ul></div></section></div>
<div class="multi-up multi-up--2 multi-up--hero">
<div class="tile">
<figure class="tile__poster">
<a class="tile__link js-analytics-click" data-analytics="  {
    &quot;event&quot;: &quot;trackEvent&quot;,
    &quot;category&quot;: &quot;tile&quot;,
    &quot;action&quot;: &quot;link click&quot;,
    &quot;label&quot;: &quot;./mio-design/material-theming/&quot;}
" href="./material-theming/" tabindex="-1">
<div class="lazy-wrapper ratio--2x1" style="padding-top: 47%;">
<img alt="Material Theming" class="tile__image tile__image--2x1 animatable lazy-wrapper__image js-lazy-image anim-appear" data-src="./assets/1z0dsWbLqJkzTGVbmaJViiaNnh4mK-aoP/design-theming-2x1-large.png" role="presentation" src="./assets/1z0dsWbLqJkzTGVbmaJViiaNnh4mK-aoP/design-theming-2x1-large.png">
</div>
<div class="lazy-wrapper ratio--1x1" style="padding-top: 100%;">
<img alt="Material Theming" class="tile__image tile__image--1x1 animatable lazy-wrapper__image js-lazy-image" data-src="./assets/1Z9ObBU5L6GDa93vcynHtrrKGJ3cyvLRf/design-theming-1x1-large.png" role="presentation" src="">
</div>
</a>
</figure>
<span class="eyebrow">Guidelines</span>
<h3>
<a class="tile__link js-analytics-click" data-analytics="  {
    &quot;event&quot;: &quot;trackEvent&quot;,
    &quot;category&quot;: &quot;tile&quot;,
    &quot;action&quot;: &quot;link click&quot;,
    &quot;label&quot;: &quot;./mio-design/material-theming/&quot;}
" href="./material-theming/">
      Material Theming
    </a>
</h3>
<p class="tile__description">Learn how to customize Material Design to change the look and feel of your UI, expressing brand and style through elements like color, shape, typography, and iconography.</p>
</div>
<div class="tile">
<figure class="tile__poster">
<a class="tile__link js-analytics-click" data-analytics="  {
    &quot;event&quot;: &quot;trackEvent&quot;,
    &quot;category&quot;: &quot;tile&quot;,
    &quot;action&quot;: &quot;link click&quot;,
    &quot;label&quot;: &quot;./mio-design/components/buttons.html&quot;}
" href="./components/buttons.html" tabindex="-1">
<div class="lazy-wrapper ratio--2x1" style="padding-top: 47%;">
<img alt="Buttons" class="tile__image tile__image--2x1 animatable lazy-wrapper__image js-lazy-image" data-src="./assets/1lRCe0pEQlxi5zZJ3v6KJxn6RO2fgksoi/design-buttons-2x1-large.png" role="presentation" src="">
</div>
<div class="lazy-wrapper ratio--1x1" style="padding-top: 100%;">
<img alt="Buttons" class="tile__image tile__image--1x1 animatable lazy-wrapper__image js-lazy-image anim-appear" data-src="./assets/10u9U6IRzMaL7qNnw99gC8WCi4KgHEZG8/design-buttons-1x1-small.png" role="presentation" src="./assets/10u9U6IRzMaL7qNnw99gC8WCi4KgHEZG8/design-buttons-1x1-small.png">
</div>
</a>
</figure>
<span class="eyebrow">Design Components</span>
<h3>
<a class="tile__link js-analytics-click" data-analytics="  {
    &quot;event&quot;: &quot;trackEvent&quot;,
    &quot;category&quot;: &quot;tile&quot;,
    &quot;action&quot;: &quot;link click&quot;,
    &quot;label&quot;: &quot;./mio-design/components/buttons.html&quot;}
" href="./components/buttons.html">
      Buttons
    </a>
</h3>
<p class="tile__description">From raised buttons to toggles – these crucial components can make or break your product experience.</p>
</div>
</div></div>
        </div>